.imagePreview {
  width: 100%;
  height: 164px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.navbar-inverse {
  background-color: #222d32;
  padding-bottom: 35px;
}

div.tagsinput span.tag {
  background-color: #222d32;
  border: 1px solid #222d32;
  color: white;
}

div.tagsinput span.tag a {
  color: #9d9d9d;
}

.navbar-header {
  float: none;
}

#editor {
  min-height: 300px;
}

#preview {
  min-height: 300px;
  background-color: #fff;
  padding: 6px 12px;
}

/*css radio02*/
.radio02-input {
  display: none;
}
.radio02-input + label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}
.radio02-input + label::before {
  content: '';
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio02-input:checked + label {
  color: #009a9a;
}
.radio02-input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 23px;
  left: 2px;
  width: 11px;
  height: 11px;
  background: #009a9a;
  border-radius: 50%;
}
