/***
 * stylesheet for markdown
 * show.blade.php and edit.blade.php
 */

body {
  background-color: #344b66;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: #cfdae6;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic,
    'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.eyecatch {
  width: 800px;
  margin: 0 auto;
}

.eyecatch img {
  margin: 0 auto;
  width: 100%;
  /* I'll set 500px image height */
  height: 420px;
}

#article-header {
  width: 100%;
  margin: 40px auto 0;
  padding: 0 18px 20px;
  border-bottom: 2px solid #adaaa5;
}

#article-header h1 {
  font-size: 24px;
  font-weight: 700;
}

.article {
  margin: 50px auto;
  width: 800px;
  height: 100%;
}

.article .article-content {
  width: 100%;
  margin: 50px auto;
  padding: 0 18px;
}

.article-content img {
  width: 100%;
}

.article-tag {
  font-size: 14px;
  color: #adaaa5;
  float: left;
}

.date {
  float: right;
  font-size: 12px;
  font-weight: 600;
  color: #adaaa5;
}

.article-content pre {
  background-color: #002b36;
  border: none;
}
