body {
  background-color: #333951;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: white;
}

.index {
  position: relative;
  padding-top: 89px;
}

header {
  padding: 25px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #edf0f4;
  background-color: #333951;
  z-index: 1;
}

header h1 {
  margin: 0;
}

.aside {
  position: absolute;
  right: 28px;
  top: 28px;
  margin-bottom: 0;
}

.aside li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

#main {
  position: relative;
  padding-left: 200px;
}

#profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 15px;
}

#main-right {
  width: 100%;
  padding: 30px;
  border-left: 1px solid #edf0f4;
}

#profile .outer .picture {
  margin: 0 auto 25px;
  height: 150px;
  width: 150px;
}

#profile .outer .picture img {
  height: 150px;
  width: 150px;
}

#profile .outer .mynameis {
  margin: 0 25px;
  width: 150px;
}

#profile .outer .links {
  margin: 0 25px;
  width: 150px;
}

#profile .outer .links ul {
  padding: 0;
}

#profile .outer .links ul li {
  list-style: none;
  line-height: 25px;
}

#profile .outer .links ul li i {
  margin-right: 0.3em;
}

#main-right .parent-article {
  display: flex;
  flex-wrap: wrap;
}

#main-right .parent-article article {
  width: 25%;
  padding: 0;
  background-color: #676c7e;
}

#main-right .parent-article article .thumbnail-wrap {
  position: relative;
}

#main-right .parent-article article .adjust-box:before {
  content: '';
  display: block;
  padding-top: 75%;
}

#main-right .parent-article article .thumbnail-wrap .thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#main-right .parent-article article .button {
  padding: 16px 16px 0;
}
#main-right .parent-article article h2 {
  margin: 0;
  padding: 16px;
  font-size: 16px;
}

#main-right .parent-article article h2 a {
}

#paginaton {
  width: 100%;
  text-align: center;
  clear: both;
}

/* show.blade.php */
.article {
  background-color: #333951;
}

.eyecatch {
  max-width: 800px;
  margin: 0 auto;
}

.eyecatch img {
  width: 100%;
  height: 500px;
}

#article-header {
  max-width: 640px;
  margin: 14px auto 18px;
  padding: 0 18px;
}

#article-header h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 22px 0;
}

section {
  max-width: 640px;
  margin: 16px auto 36px;
  padding: 0 18px;
}

.data {
  font-size: 12px;
  font-weight: 600;
  color: #adaaa5;
}

@media screen and (max-width: 480px) {
  header {
    text-align: center;
  }

  .aside {
    display: none;
  }

  #main-right {
    border-left: none;
  }

  #main-right .parent-article article {
    width: 100%;
  }

  #main {
    padding-left: 0;
  }

  #profile {
    position: static;
    width: 100%;
  }

  #profile .outer .mynameis {
    margin: 0 auto;
    width: 150px;
  }

  #profile .outer .links {
    margin: 0 auto;
    width: 150px;
  }
}
