.index {
  position: relative;
  padding-top: 89px;
  /* background-color: #61b1c8; */
}

header {
  margin: 0px 30px;
  padding: 25px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #edf0f4;
  background-color: white;
  z-index: 1;
}

header h1 {
  margin: 0;
}

.aside {
  position: absolute;
  right: 28px;
  top: 28px;
  margin-bottom: 0;
}

.aside li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

.index .column {
  height: 842px;
}

#main {
  position: relative;
  padding-left: 200px;
}

#profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 15px;
  border-right: 1px solid #edf0f4;
}

#main-right {
  width: 100%;
}

#profile .outer {
  width: 200px;
}

#profile .outer .picture {
  margin: 0 auto 25px;
  height: 150px;
  width: 150px;
}

#profile .outer .picture img {
  height: 150px;
  width: 150px;
}

#profile .outer .mynameis {
  margin: 0 25px;
  width: 150px;
}

#profile .outer .links {
  margin: 0 25px;
  width: 150px;
}

#profile .outer .links ul {
  padding: 0;
}

#profile .outer .links ul li {
  list-style: none;
  line-height: 25px;
}

#profile .outer .links ul li i {
  margin-right: 0.3em;
}

#main-right .row {
  margin: 50px 50px 0;
  height: 792px;
}

#main-right .row .col-md-3 {
  padding: 0;
  background-color: #e8e8e7;
  cursor: pointer;
  max-height: 356px;
}

#main-right .row .col-md-3 img {
  height: 230px;
  width: 100%;
}

#main-right .row .col-md-3 .button {
  padding: 15px 15px 0;
}

#main-right .row .col-md-3 h2 {
  font-size: 16px;
  font-weight: 700;
  height: 65px;
  margin: 0;
  padding: 15px 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

#main-right .row .col-md-3 h2 a {
  color: black;
}

#main-right .row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

#paginaton {
  width: 100%;
  text-align: center;
  clear: both;
}

.article {
  background-color: #e8e8e7;
}

.eyecatch {
  max-width: 800px;
  margin: 0 auto;
}

.eyecatch img {
  width: 100%;
  height: 500px;
}

#article-header {
  max-width: 640px;
  margin: 14px auto 18px;
  padding: 0 18px;
}

#article-header h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 22px 0;
}

section {
  max-width: 640px;
  margin: 16px auto 36px;
  padding: 0 18px;
}

.data {
  font-size: 12px;
  font-weight: 600;
  color: #adaaa5;
}
